<div class="col-lg-8 col-lg-offset-2 mx-auto mt-5">

    <div class="container-2 p-5 mb-4 bg-secondary bg-opacity-25 rounded-3">
        <h1 class="h1-strong text-center">{{title}}</h1>
        <p class="text-center">Disfruta de las publicaciones de tus amigos y comparte tu vida!</p>
        <div class="d-flex justify-content-center align-items-center gap-2">
            <p>
                <a [routerLink]="['/perfil', identity._id]" class="btn btn-success btn-lg" role="button"> Mi perfil </a>
            </p>
            <p>
                <a [routerLink]="['/timeline']" [routerLinkActive]="['active']" class="btn btn-primary btn-lg" role="button"> Publicaciones </a>
            </p>
            <p>
                <a class="nav-link" [routerLink]="['/users/1']" class="btn btn-secondary btn-lg" role="button"> Personas </a>
            </p>
        </div>
    </div>
    
</div>
