<div class="navigation col-lg-12">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Logo -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <!-- Botón para alternar el menú -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menú -->
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav" *ngIf="identity">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['active']">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gente</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="!identity">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Registro</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto" *ngIf="identity">
          <li class="avatar">
            <!-- cargar imagen del usuario -->
             <img src="{{url+ 'get-image-user/' + identity.image}}" alt="" *ngIf="identity && identity.image">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{identity.name}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mi perfil</a></li>
              <li><a class="dropdown-item" href="#" [routerLink]="['/mis-datos']" [routerLinkActive]="['active']">Mis datos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>