.navigation{
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 0px !important;
}

.navigation .navbar{
    background-color: #284479 !important;
    padding: 0px;
}

.navigation .navbar-nav li a {
    padding: 1rem;
}
/* CUANDO SE SELECCIONE UNA OPCION DEL MENU, CLASS ACTIVE ACTUA COMO SELECCIONADOR, EL BACKGROUND SOLO AL SELECCIONADO */
.active{
    background-color: #253c69;
}

.navigation .navbar-nav li:hover{
    background-color: #304a7c;
}

.avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin: auto;
}
.avatar img{
    height: auto;
    width: 38px;
}